<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>My App</title>
  <link rel="stylesheet" href="css/framework7.ios.min.css">
  <link rel="stylesheet" href="css/framework7.ios.colors.min.css">
  <!-- <link rel="stylesheet" href="css/jquery.datatables.min.css">
  <link rel="stylesheet" href="css/orwReorder.dataTables.min.css">
  <link rel="stylesheet" href="css/datatables.responsive.css"> -->
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
  <link rel="stylesheet" href="css/app.css">
</head>

<body>
  <div id="app">
    <!-- Statusbar -->
    <!-- NOTE: You may need to comment out the next line depending on what device you're running on and see the app title cut off -->
    <f7-statusbar></f7-statusbar>

    <!-- Left Panel -->
    <f7-panel left reveal layout="dark">
      <f7-view id="left-panel-view" navbar-through :dynamic-navbar="true">
        <f7-navbar v-if="$theme.ios" title="Left Panel" sliding></f7-navbar>
        <f7-pages>
          <f7-page>
            <f7-navbar v-if="$theme.ios" title="Left Panel" sliding></f7-navbar>
            <f7-block inner>
              <p>Left panel content goes here</p>
            </f7-block>
            <f7-block-title>Load page in panel</f7-block-title>
            <f7-list>
              <f7-list-item link="/about/" title="About"></f7-list-item>
              <f7-list-item link="/form/" title="Form"></f7-list-item>
            </f7-list>
            <f7-block-title>Load page in main view</f7-block-title>
            <f7-list>
              <f7-list-item link="/about/" title="About" link-view="#main-view" link-close-panel></f7-list-item>
              <f7-list-item link="/form/" title="Form" link-view="#main-view" link-close-panel></f7-list-item>
            </f7-list>
          </f7-page>
        </f7-pages>
      </f7-view>
    </f7-panel>

    <!-- Main Views -->
    <f7-views>
      <f7-view id="main-view" navbar-through :dynamic-navbar="true" main>
        <!-- iOS Theme Navbar -->
        <f7-navbar v-if="$theme.ios">
          <f7-nav-left>
            <f7-link icon="icon-bars" open-panel="left"></f7-link>
          </f7-nav-left>
          <f7-nav-center sliding>Framework7</f7-nav-center>
          <f7-nav-right>
            <f7-link icon="icon-bars" open-panel="right"></f7-link>
          </f7-nav-right>
        </f7-navbar>


        <!-- Pages -->
        <!-- -----Main Page------------------- -->
        <f7-pages>
          <f7-page>
            <f7-navbar v-if="$theme.material">
              <f7-nav-left>
                <f7-link icon="icon-bars" open-panel="left"></f7-link>
              </f7-nav-left>
              <f7-nav-center sliding>Framework7</f7-nav-center>
              <f7-nav-right>
                <f7-link icon="icon-bars" open-panel="right"></f7-link>
              </f7-nav-right>
            </f7-navbar>
            <f7-block-title v-show="!isLoggedIn">User Welcome Pannel</f7-block-title>
            <f7-block-title v-show="isLoggedIn">{{msg}} {{user}}!</f7-block-title>
            <f7-block v-show="!isLoggedIn">
              <p>
                <f7-button open-login-screen="#login-screen" class="button button-big button-fill color-green">Go To Login Page</f7-button>
              </p>
              <p>
                <f7-button open-login-screen="#login-screen" class="button button-fill button-big color-blue">Go To Signup Page</f7-button>
              </p>
            </f7-block>
            <f7-block-title v-show="isLoggedIn">My Stuffs</f7-block-title>
            <f7-list v-show="isLoggedIn">
              <f7-list-item link="/about/" title="Farm Profile"></f7-list-item>
              <f7-list-item link="/scheduleF/" title="Make a New Entry"></f7-list-item>
              <f7-list-item link="/expenses/" title="My Expenses"></f7-list-item>
              <f7-list-item link="/reports/" title="Reports"></f7-list-item>
              <f7-list-item link="//" title="Log Out" @click="logout"></f7-list-item>
              <f7-list-item link="/dynamic-route/blog/45/post/125/?foo=bar#about" title="Dynamic Route"></f7-list-item>
            </f7-list>
            <f7-block-title>Side Panels</f7-block-title>
            <f7-block>
              <f7-grid>
                <f7-col width="50">
                  <f7-button open-panel="left">Left Panel</f7-button>
                </f7-col>
                <f7-col width="50">
                  <f7-button open-panel="right">Right Panel</f7-button>
                </f7-col>
              </f7-grid>
            </f7-block>
            <f7-block-title>Modals</f7-block-title>
            <f7-block>
              <f7-grid>
                <f7-col width="50">
                  <f7-button open-popup="#popup">Popup</f7-button>
                </f7-col>
                <f7-col width="50">
                  <f7-button open-login-screen="#login-screen">Login Screen</f7-button>
                </f7-col>
              </f7-grid>
            </f7-block>
          </f7-page>
        </f7-pages>
      </f7-view>
    </f7-views>
    <!-- ----------end of Main Page ------------------ -->

    <!-- ------------------- Login Screen------------ -->
    <f7-login-screen id="login-screen">
      <f7-view>
        <f7-pages>
          <f7-page login-screen>
            <f7-login-screen-title>Login</f7-login-screen-title>
            <f7-list form id="login-form">
              <f7-list-item>
                <f7-label>Username</f7-label>
                <f7-input name="username" placeholder="Username" type="text" id="username"></f7-input>
              </f7-list-item>
              <f7-list-item>
                <f7-label>Password</f7-label>
                <f7-input name="password" type="password" placeholder="Password" id="password"></f7-input>
              </f7-list-item>
            </f7-list>
            <f7-list>
              <f7-list-button close-login-screen title="Sign In" @click="login"></f7-list-button>
              <f7-list-label>
                <p close-login-screen>Click Sign In to close Login Screen</p>
              </f7-list-label>
            </f7-list>
          </f7-page>
        </f7-pages>
      </f7-view>
    </f7-login-screen>
  </div>
  <!-- ------------------- End of Login Screen------------ -->

  <!-- --------------Expense Entry Form--------------------- -->
  <template id="scheduleF-expense-form">
    <f7-page>
      <f7-navbar title="Form" back-link="Back" sliding></f7-navbar>
      <f7-block-title>Form</f7-block-title>
      <f7-list form id="expense_form">
        <f7-list-item smart-select smart-select-searchbar title="Expense Type">
          <select name="expense_type" id="expense_type">
            <option value="apple" selected>Apple</option>
            <option value="pineapple">Pineapple</option>
            <option value="pear">Pear</option>
            <option value="orange">Orange</option>
            <option value="melon">Melon</option>
            <option value="peach">Peach</option>
            <option value="banana">Banana</option>           
          </select>
        </f7-list-item>
        <f7-list-item>
          <f7-label>Amount</f7-label>
          <f7-input type="number" id="expense_amount" name="expense_amount" placeholder="Amount"></f7-input>
        </f7-list-item>
        <f7-list-item>
          <f7-label>Description</f7-label>
          <f7-input type="textarea" id="expense_description" name="expense_description" placeholder="Description"></f7-input>
        </f7-list-item>
        <f7-list-item>
          <f7-label>Date Of Expense</f7-label>
          <f7-input type="date" id="expense_date" name="expense_date" placeholder="Date Of Expense"></f7-input>
        </f7-list-item>
        <p>
          <f7-grid>
            <f7-col>
              <f7-button big fill color="green" @click="submitExpense">Save</f7-button>
            </f7-col>
            <f7-col>
              <f7-button big fill color="red">Reset</f7-button>
            </f7-col>
          </f7-grid>
        </p>
      </f7-list form>
    </f7-page>
  </template>
  <!-- --------------End Expense Entry Form--------------------- -->


  <!-- --------------- Expenses Template-------------- -->
  <template id="page-expenses">
    <f7-page>
      <f7-navbar title="ScheduleF Expenses" back-link="Back" sliding></f7-navbar>
      <h3>This is Expenses View</h3>
       <f7-button big fill color="green" @click="drawTable2">Save</f7-button> 
      <f7-block inner>
        <div id="jsGrid"></div>
      </f7-block>
    </f7-page>
  </template>

  <!-- --------------- End Report Page Template-------------- -->

  <!-- --------------- About Page Template-------------- -->
  <template id="page-about">
    <f7-page>
      <f7-navbar title="About" back-link="Back" sliding></f7-navbar>
      <f7-block inner>
        <p>Here is About page!</p>
        <p>You can go
          <f7-link back>back</f7-link>.</p>
        <p>Mauris posuere sit amet metus id venenatis. Ut ante dolor, tempor nec commodo rutrum, varius at sem. Nullam ac nisi
          non neque ornare pretium. Nulla mauris mauris, consequat et elementum sit amet, egestas sed orci. In hac habitasse
          platea dictumst.</p>
        <p>Fusce eros lectus, accumsan eget mi vel, iaculis tincidunt felis. Nulla tincidunt pharetra sagittis. Fusce in felis
          eros. Nulla sit amet aliquam lorem, et gravida ipsum. Mauris consectetur nisl non sollicitudin tristique. Praesent
          vitae metus ac quam rhoncus mattis vel et nisi. Aenean aliquet, felis quis dignissim iaculis, lectus quam tincidunt
          ligula, et venenatis turpis risus sed lorem. Morbi eu metus elit. Ut vel diam dolor.</p>
      </f7-block>
    </f7-page>
  </template>
  <!-- --------------- End About Page Template-------------- -->

  <script src="cordova.js"></script>
  <script src="js/framework7.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/framework7-vue.min.js"></script>
  <script src="js/jquery-3.2.1.min.js"></script>
  <!-- <script src="js/vue-table-2.min.js"></script> -->
  <!-- <script src="js/jquery.dataTables.min.js"></script>
  <script src="js/dataTables.reorder.js"></script>
  <script src="js/dataTables.responsive.js"></script> -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
  <script src="js/parse.min.js"></script>
  <script src="js/app.js"></script>
</body>

</html>